#counterlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btncontainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    color: white;
    background-color: rgb(76, 153, 221);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
    border: none;
}

.buttons:hover{
    background-color: rgb(4, 39, 82);
}