.body{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
}

@media screen and (max-width:992px) {
    .column{
        flex: 50%;
        text-align: center;
    }
}

@media screen and (max-width:600px) {
    .column{
        flex-direction: column;
    }
}