version: "3.8"

services:
  app:
    image: node:18
    command: node app.js
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: mysql
    environment:
      MYSQL_ROOT_PASSWORD: pass123
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
